.categoriesSec :nth-child(1){
  color: white;

}

.categoryP{
    font-size: large;
    font-weight: 600;
    color: white;
}
.categoryCard {
    width: 400PX;
    height: 500px;
   
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
    align-items: center;
    text-align: center;
    transition: transform 0.3s ease-in-out;
  }
  
  .categoryCard:hover {
    transform: scale(1.05);
  }
  
  .categoryCard img {
    width: 200px;
    border-radius: 10px;
  
  }
  
  .categoryLink {
    margin-top: 10px;
   
    color: #000;
    text-decoration: none;
  }
  

