.footer{
    background-color:rgba(0, 0, 0, 0);
    color: white;
    box-shadow: 0px 4px 10px red;
   
  
}
.footer p{
    font-weight: 500;   
}
.footer p:hover{
    color: red;
}
.footer h4:hover{
    color: red;
}

.f1{
    font-weight: 500;
    font-size: larger;
    gap: 10px;
  
}
.f2{
    display: flex;
    gap: 15px;
}

.f1 a , .f3 a, .f2 a{
    text-decoration: none;
    color: white;
    

}

.f1 :hover{
    color: red;
    transform: translate(10px);
 
}
.f2 :hover{
    color: red;
font-size: larger;
 
}
.f3 :hover{
    color: red;
    transform: translate(10px);
 
}

