body{
    height: 2000px;
}


.navbar{
  background-color:black;
   padding: 10px;
   box-shadow: 3px 2px 5px red;
    position: sticky;
}
.navlink{
    color: white;

    
}




.navlink:hover {
    background-color: red;
 border-radius: 10px;   
}


